html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

html, body {
  height: 100vh;
  overflow-x: hidden;
}

.nav-wrapper {
  background: #fff;
}

.nav-wrapper .brand-logo {
  margin-left: 16px;
  color: #000;
}

.nav-wrapper .btn {
  background: #2082FC;
  box-shadow: 0 7px 12px 0 rgba(23,42,99,0.20);
  border-radius: 2px;
}

.nav-wrapper .btn:active {
  box-shadow: 0 7px 4px 0 rgba(23,42,99,0.05);
}

.slides {
  height: 70%;
  padding: 20px;
  white-space: nowrap;
  display: inline-block;
  overflow-x: visible;
  word-break: break-all;
}

.slides > .slide {
  display:inline-block;
  white-space: normal;
  vertical-align: top;
  height: 100%;
  width: 75%;
  min-width: 75%;
  margin-left: auto;
  margin-right: 5%;
  float: none;
  transition: transform 0.55s;
  transform: translateX(16.66667%); /* initial centered position */
}

.slide > .card-panel {
  height: 100%;
  box-shadow: 0 10px 60px 0 rgba(29,29,31,0.12);
}

.templates {
  padding: 0.2em 0.5em;
}

.templates .template {
  height: 5em;
  width: 10px;
  padding: 3px;
}

.templates .card-panel {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.tinymce h2 {
  display: none;
}
