html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

body {
  height: 100vh;
}

.slides {
  height: 70%;
  padding: 20px;
  white-space: nowrap;
  display: inline-block;
  overflow-y: hidden;
}
.slide {
  display:inline-block;
  white-space: normal;
  vertical-align: top;
  height: 100%;
  transition: transform 2s;
}

.slide > .col {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.slide > .col > .card-panel {
  height: 100%;
}

.templates {
  padding: 0.2em 0.5em;
}

.templates .template {
  height: 5em;
  width: 10px;
  padding: 3px;
}

.templates .card-panel {
  margin-left: auto;
  margin-right: auto;
  float:none;
}
