body {
  height: 100vh;
}

.slide {
  height: 70%;
  transition: transform 2s;
}

.slide:hover {
  transform: translate(-300px)
}

.slide > .col {
  height: 100%;
  padding-top: 2em;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.slide > .col > .card-panel {
  height: 100%;
}

.templates {
  padding: 0.2em 0.5em;
}

.templates .template {
  height: 5em;
  width: 10px;
  padding: 3px;
}

.templates .card-panel {
  margin-left: auto;
  margin-right: auto;
  float:none;
}
