<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>{{siteTitle}}</title>

        <link rel="stylesheet" href="/css/reveal.css">
        <link rel="stylesheet" href="/css/simple.css">


    </head>
    <body>

<div class="modal-wrapper" id="urlHint">
    <div class="modal">
        <div class="modal-content">
            <div class="presenter-group">
                <p><b>Keep secret!</b> For you to present from:</p>
                <div class="copy-field">
                    <input type="url" id="presenter-url" onclick="select()"><span id="woo"></span><button type="button" value="COPY" id="presenter-url-copy" onClick="document.getElementById('presenter-url').select(); document.execCommand('copy'); document.getElementsByClassName('woo')[0].className += ' animatedwoo';"><span class="text">COPY</span></button>
                </div>
            </div>

            <div class="viewer-group">
                <p>For viewers to follow along at:</p>
                <div class="copy-field">
                    <input type="url" id="viewer-url" onclick="select()"><span id="woo"></span><button type="button" value="COPY" id="viewer-url-copy" onClick="document.getElementById('viewer-url').select(); document.execCommand('copy'); document.getElementsByClassName('woo')[1].className += ' animatedwoo';"><span class="text">COPY</span></button>
                </div>
            </div>
        </div>

        <button type="button" value="PRESENT" id="present-button" onClick="document.getElementById('urlHint').style.display = 'none';">
            <span class="text" >PRESENT</span>
        </button>
    </div>
</div>




        <div class="reveal">
            <div class="slides">
                {{#each slides}}
                    <section>
                        {{{content}}}
                    </section>
                {{/each}}
            </div>
        </div>

        <script src="/js/socket.js/{{presID}}"></script>

        <script src="/js/reveal.js"></script>

        <script>
            // More info https://github.com/hakimel/reveal.js#configuration
            Reveal.initialize({
                history: true,
                progress: false,
                overview: false,
                controls: false,
                loop: true
            });
        </script>

        <!--<script src="/js/impressWithoutKeyControl.js"></script>
<script src="/js/js.cookie.js"></script>
<script>
      console.log(Cookies.get('presenter'));
</script>-->
    </body>
</html>
