<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Expedite.io
  {{presID}} {{secKey}}</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link rel="stylesheet" href="css/main.css"> </head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Big Decision</a>
      <ul class="right">
        <li><a id="present-button" class="waves-effect waves-light btn">PRESENT</a></li>
      </ul>
    </div>
  </nav>
  
  
  <div class="row slides">
    <div class="col slide">
        <div class="card-panel white">
          <div class="tinymce">
              <h2 style="display: block;"><img style="display: block; margin-left: auto; margin-right: auto;" title="TinyMCE Logo" src="//www.tinymce.com/images/glyph-tinymce@2x.png" alt="TinyMCE Logo" width="110" height="97" /></h2>
              <h3 style="text-align: center;">Welcome to&nbsp;ScreenKraut</h3>
              <div class="row">
              <div class="small-12 columns">
              <p class="large" style="text-align: center;">Build. Share. Pitch. Turn ideas into reality in less time than it takes to make a cup of coffee.</p>
              </div>
              </div>
          </div> 
        </div>
    </div>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>

  <script type="text/javascript" src="js/main.js/{{presID}}/{{secKey}}"></script>
</body>

</html>