html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

html, body {
  height: 100vh;
  overflow-x: hidden;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 99999999;
  background-color:rgba(216,216,216,.62)
}

.modal-wrapper:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.modal {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  padding: 10px;
  
  font-family:Arial,sans-serif;
  font-size:12px;

  box-shadow: 0 10px 20px 0 rgba(58,73,92,.32);            
  border-radius: 2px;
  
  background-color:white;
}

.modal-content {
    margin: 56px;
}

.modal-content p {
  text-align: left;
  clear: both;
  font-size: 16px;
  color: #434343;
}

.viewer-group p {
  padding-top: 40px;
  padding-bottom:;
}

.copy-field {
  float: left;
}

.copy-field input {
  width: 290px;
}

.modal button {
  vertical-align: top;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background: #1F81FB;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.06);
  width: 76px;
  height: 50px;
  padding: 0;
  border: 1px solid #1F7FF7;
  border-radius: 0 4px 4px 0;
}

.modal button span {
  font-size: 12px;
  color: white;
}

.modal input {
  vertical-align: top;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  outline: none;
  height: 50px;
  width: 290px;   
  font-size: 16px;
  padding-left: 16px;
  color: #343C40;
  border: 1px solid #1F7FF7;
  border-radius: 4px 0 0 4px;
  background: #f9fafc;
}

.modal input:focus {
  background: #fff;
}

.modal button#present-button {
  border-radius: 4px;
  width: auto;
  padding: 11px 28px 13px;
  margin: 30px auto;
  text-align: center;
}

.modal button#present-button span {
  font-size: 16px;
}

.nav-wrapper {
  background: #fff;
}

.nav-wrapper .brand-logo {
  margin-left: 16px;
  color: #000;
}

.nav-wrapper .btn {
  background: #2082FC;
  box-shadow: 0 7px 12px 0 rgba(23,42,99,0.20);
  border-radius: 2px;
}

.nav-wrapper .btn:active {
  box-shadow: 0 7px 4px 0 rgba(23,42,99,0.05);
}

.slides {
  height: 70%;
  padding: 20px;
  white-space: nowrap;
  display: inline-block;
  overflow-x: visible;
  word-break: break-all;
}

.slides > .slide {
  display:inline-block;
  white-space: normal;
  vertical-align: top;
  height: 100%;
  width: 75vw;
  min-width: 75vw;
  float: none;
  transition: transform 0.55s;
  transform: translateX(15%); /* initial centered position */
}

.slide > .card-panel {
  height: 100%;
  box-shadow: 0 10px 60px 0 rgba(29,29,31,0.12);
  overflow-y: hidden;
}

.templates {
  padding: 0.2em 0.5em;
}

.templates .template {
  height: 5em;
  width: 10px;
  padding: 3px;
}

.templates .card-panel {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

/*.tinymce h2 {
  display: none;
}*/

.prev-button, .next-button {
  cursor: pointer;
  cursor: hand;
}